{
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 72,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "proseWrap": "preserve",
  "singleAttributePerLine": true
}
